@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgba(0, 0, 0, 0.898);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.hoverStyle {
    @apply transition-transform duration-300 hover:translate-x-1;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f13c;
  }

  ::-webkit-scrollbar {
    background-color: #00000057;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f1f1f13c;
  }

  ::-webkit-scrollbar-button {
    background-color: #ccc;
    width: 12px;
    height: 12px;
  }

